*{
    color: #777070;
}

.sectionCard{
    margin: 20px;
}

.h1CardFilter{
    font-size: 16px;
}

.imgCardFilter{
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
}

.btnCardFilter{
    width: 80px;
    border: 1px solid #fff;
    border-radius: 30%;
    color: rgb(209, 15, 15);
}

.containerCard{
    border: 1px solid #fff;
    border-radius: 5%;
    padding: 20px;
}