.FilterContainer{
    text-align: center;
    background-color: #000;
}

.h1Filter{
    color: rgb(209, 15, 15);
    padding-top: 35px;
    padding-bottom: 35px;
    text-decoration: underline;
}

.imgPortadaHome{
    height: 600px;
    width: max-content;
}

.btnFixed{
    position: fixed;
    bottom: 150px;
    right: 13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:#fff;
}

.divBuscador{
    padding-bottom: 50px;
}

.inputBuscador{
    width: 300px;
}

.divCardFilter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width:1199px) and (min-width:992px){

    .imgPortadaHome{
        height: 500px;
        width: max-content;
    }

    .h1Filter{
        font-size: 35px;
        padding: 35px;
    }
}

@media only screen and (max-width:991px) and (min-width:768px){
    
    .imgPortadaHome{
        height: 400px;
        width: max-content;
    }

    .h1Filter{
        font-size: 30px;
        padding: 35px;
    }

    .btnFixed{
        position: fixed;
        bottom: 150px;
        right: 30px;
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width:767px) and (min-width:576px){

    .imgPortadaHome{
        height: 300px;
    }

    .h1Filter{
        font-size: 27px;
        padding: 35px;
    }

    .btnFixed{
        position: fixed;
        bottom: 150px;
        right: 45px;
        height: 38px;
        width: 38px;
    }
}

@media only screen and (max-width:575px) and (min-width:415px){

    .imgPortadaHome{
        height: 233px;
    }

    .h1Filter{
        font-size: 27px;
        padding: 35px;
    }

    .btnFixed{
        position: fixed;
        bottom: 150px;
        right: 13px;
        height: 34px;
        width: 34px;
    }      
}

@media only screen and (max-width:414px) and (min-width:350px){

    .imgPortadaHome{
        height: 193px;
    }

    .h1Filter{
        font-size: 30px;
        padding: 35px;
    }

    .btnFixed{
        position: fixed;
        bottom: 150px;
        right: 10px;
        height: 38px;
        width: 38px;
    }  

    .divCardFilter2{
        margin-bottom: 10px;
    }
}