.containerSagas{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

.ulSagas{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.imgPortada{
    height: 450px;
    width: 400px;
    position: absolute;
    border-radius: 5%;
}

.divSagas{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.divSagas a{
    text-decoration: none;
    position: relative;
}

.divSagas a li{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30%;
    padding: 3px;
}

.divSagas a li:hover{
    font-size: 40px;
    transition: 0.5s;
    background-color: #000;
    color: rgb(209, 15, 15);
}

.h1Sagas{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #000;
    color: rgb(209, 15, 15);
    margin: 0;
    text-decoration: underline;
    font-size: 50px;
}

@media only screen and (max-width: 1399px) and (min-width:1200px){

    .imgPortada{
        height: 400px;
        width: 350px;
        position: absolute;
        border-radius: 5%;
    }
}

@media only screen and (max-width:1199px) and (min-width:992px){

    .imgPortada{
        height: 300px;
        width: 250px;
        position: absolute;
        border-radius: 5%;
    }

    .h1Sagas{
        padding: 0;
    }
}

@media only screen and (max-width:991px) and (min-width:768px){

    .containerSagas{
        height: 400px;
    }

    .imgPortada{
        height: 280px;
        width: 230px;
        position: absolute;
        border-radius: 5%;
    }

    .h1Sagas{
        padding: 0;
        font-size: 45px;
    }

    .divSagas a li{
        font-size: 22px;
    }
    
    .divSagas a li:hover{
        font-size: 26px;
    }
}

@media only screen and (max-width:767px) and (min-width:576px){

    .containerSagas{
        height: 1200px;
        justify-content: center;
    }

    .h1Sagas{
        padding: 0;
        font-size: 45px;
        padding-bottom: 20px;
    }

    .imgPortada{
        height: 350px;
        width: 300px;
        position: absolute;
        border-radius: 5%;
    }

    .ulSagas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
}